@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Forest Palette */
  --color-forest-950: #051F20;
  --color-forest-900: #0B2B26;
  --color-forest-800: #163832;
  --color-forest-700: #235347;
  --color-forest-300: #8EB69B;
  --color-forest-50: #DAF1DE;

  --font-dm-sans: var(--font-dm-sans);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}